{% extends "base.html" %}

{% block content %}
<div class="half">
    <h3>Cards</h3>
    <ul class="fancypants">
        {% for card in cards|reverse %}
            {% if card.privacy == 'public' or
                  (card.privacy == 'loggedin' and session.user) or
                  (card.privacy in ['unlisted', 'private'] and user == session.user) %}
                 <li>{% include "card_item.html" %}</li>
            {% endif %}
        {% else %}
            <li><em>No cards</em></li>
        {% endfor %}
    </ul>
</div>
<div class="half">
    <h3>Plays</h3>
    <ul class="fancypants">
        {% for play in plays|reverse %}
            {% if play.card.privacy == 'public' or
                  (play.card.privacy == 'loggedin' and session.user) or
                  (play.card.privacy in ['unlisted', 'private'] and user == session.user) %}
                 <li>{% include "play_item.html" %}</li>
            {% endif %}
        {% else %}
            <li><em>No plays</em></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
